<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Log</title>
</head>
<body>
    <h2>Learning Log website</h2>
    <a href="{% url 'logger:home' %}">Home</a> |
    <a href="{% url 'logger:topic' %}">Topics</a> |
    {% if user.is_authenticated %}
        Hello, {{ user.username }}
        <a href="{% url 'users:logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'users:register' %}">Register</a> | <a href="{% url 'users:login' %}">Login</a>
    {% endif %}

    {% block content %}
    <p>This is Home Page and visible to everyone.</p>
    {% endblock content %}
</body>
</html>